{{define "home"}}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{.assets}}style.css">
</head>

<body>
    <header class="header">
        Welcome! POS System Prototype 2020
    </header>
    
    <div class="sidebar">
        <a href="/orders/create">Enter new Order</a>
        <a href="/orders">Show all Orders</a>
        <a href="/menu/create">Enter new Menu</a>
        <a href="/menu">Show all Menus</a>
    </div>

    <!-- Page content -->
    <div class="content">

    </div>
</body>

</html>
{{end}}